@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: white;
    background-image: url(../Imagenes/background-image.jpg) ; 
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    color: burlywood;
    font-size: 22px;
    text-align: justify;
    text-shadow: 0px 2px 10px black;
    font-family: 'Germania One', cursive;
}
.letramostaza {
    color: rgb(240, 227, 209);
}

.subrayado {
    text-decoration: underline;
}
.alineado {
    text-align: center;
}
.titulo {
    font-size: 50px;
    text-align: center;
    font-family: 'Harry Potter', sans-serif;                                           
}
.letramarron {
    color: chocolate;
}
.size {
    width: 40%;
    height: auto;
}
header {
    background-color: rgba(255, 166, 0, 0.404);
    border: 5px brown dotted;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
nav {
    background-color: rgba(153, 205, 50, 0.541);
}
nav:hover {
    background-color: silver;
}
aside {
    background-color: rgba(255, 235, 205, 0.356);
    display: flex;
    justify-content: flex-end;
}
footer {
    background-color: rgba(255, 248, 220, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.iconowhatsapp {
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 70px;
}
.iconofacebook {
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 15px;
}
.logo {
    width: auto;
    height: 25vh;
    display: flex;
    align-items: center;
}
.redes {
    width: 30%;
    background-color: rgb(175, 192, 147);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imagediv img {
   max-width: 100%;
}
.imagediv {
    max-width: 50px;
    flex: 1 1 0;
}
.mapabarrio {
    width: 300px;
    display: flex;
    align-items: center;
}
.informacionpersonal {
    max-width: 20%;
    background-color: rgb(175, 192, 147);
    display: flex;
    align-items: center;
    font-family: "ron";
    color: rgb(66, 65, 65);
}
.receta {
    display: flex;
    flex-wrap: wrap;
}
.receta section {
    width: 100%;
    /* min-width: 400px; */
    background-color: rgba(245, 245, 220, 0.486);
    /* height: 100px;*/
     /*overflow:auto;*/
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
}
.divflex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a:hover {
    color: rgb(133, 102, 165);
    text-decoration: none;
    
}
.caja {
    width: 50%;
    height: 50%;
    background-color: rgb(197, 197, 197);
}
.cajita {
    width: 100%;
    height: 100%;

}
@font-face {
    font-family: "ron" ;
    src: url(../font/DavidCLM-MediumItalic.otf) format("opentype");
}
.titulocontacto {
    font-family: 'Quicksand', sans-serif;
}

iframe 
{
    max-width: 100%;
}

@media (max-width: 750px) {
    .redes-header {
        display: none;
    }
    .logo {
        display: none;
    }
    .divflex {
        flex-direction: column;
    }
   footer {
       flex-direction: column;
   }
   .informacionpersonal {
       max-width: 90%;
   }
   .redes-footer {
       width: auto;
   }
   audio {
    max-width: 60%;
   }
   .mapabarrio {
       display: none;
   }
   .size {
       width: 100%;
   }
}

.logocel {
    width: 75%;
    height: 75%;
}

@media (min-width: 750px ) {
    .logocel {
        display: none;
    }
    .receta section {
        flex-direction: row;
    }
    .receta section h2 {
        min-width: 300px;
        text-align: left;
    }
    

}
