body {
    background-color: white;
    background-image: url(../Imagenes/background-image.jpg) ; 
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    color: burlywood;
    font-size: 22px;
    text-align: justify;
    text-shadow: 0px 2px 10px black;
    font-family: 'Germania One', cursive;
}
.letramostaza {
    color: rgb(240, 227, 209);
}

.subrayado {
    text-decoration: underline;
}
.alineado {
    text-align: center;
}
.titulo {
    font-size: 50px;
    text-align: center;
    font-family: 'Harry Potter', sans-serif;                                           
}
.letramarron {
    color: chocolate;
}
.size {
    width: 30%;
    height: auto;
}
header {
    background-color: rgba(255, 166, 0, 0.404);
    border: 5px brown dotted;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
nav {
    background-color: rgba(153, 205, 50, 0.541);
}
section {
    background-color: rgba(245, 245, 220, 0.486);
    height: 100px;
    overflow:auto;
    }
aside {
    background-color: rgba(255, 235, 205, 0.356);
}
footer {
    background-color: rgba(255, 248, 220, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.iconowhatsapp {
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 70px;
}
.iconofacebook {
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 15px;
}
.logo {
    width: 200px;
    max-width: 20%;
    display: flex;
    align-items: center;
}
.redes {
    width: 30%;
    background-color: darkolivegreen;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imagediv img {
   max-width: 100%;
}
.imagediv {
    max-width: 50px;
    flex: 1 1 0;
}
.mapabarrio {
    width: 300px;
    display: flex;
    align-items: center;
}
.informacionpersonal {
    max-width: 20%;
    background-color: darkolivegreen;
    display: flex;
    align-items: center;
}
